@charset "utf-8";
/* CSS Document */


body{
	
margin: 0 auto;
background-image:url(img/background.jpeg);
background-size:1280 1024;
background-repeat:no-repeat;
background-attachment:fixed;


	
	
}
#header{
	
	background:linear-gradient(to left,#666,#999);
	height:120px;
	opacity:0.6;
	
	
	
}

#FormularLogin,#LogOut{
margin-right:10px;
margin-top:10px;	
float:right;
	
	
	
}
#search{
margin-left:10px;
margin-top:30px;	
float:left;
margin-left:100px;
	
	
	
}

#nav{
	
	background:linear-gradient(to left,#060,#063);
	height:40px;
	margin-top:2px;
	opacity:0.6;
	box-shadow: 4px 4px 4px #888888;
		
	
}

#nav ul {
margin:0;
padding-top:10px;	
	

}

#nav ul li {
	
padding-right:50px;	
display:inline;


	
	
}
#nav ul li a:hover {
	
color:black;
	
}

#happy_hour a{
	text-decoration:none;
	font-size:20px;
	color:white;
	}

#admin a{
	text-decoration:none;
	font-size:20px;
	color:white;
	}


#nav ul li a{
	
text-decoration:none;
font-size:20px;
color:white;



	
	
}

#content{
	
margin:0 auto;
text-align:center;
border-style:solid;
border-width:1px;





	
}


#picture_right{
	
	
height:600px;
width:160px;
background-color:purple;
float:right;	
margin-top:10px;
margin-right:10px;
margin-bottom:50px;
opacity:0.9;
box-shadow: 5px 5px 5px #888888;
	
}
#footer{
	
height:100px;
width:100%;
background:linear-gradient(to left,#333,#000);
clear:both;
opacity:0.7;


	
	
	
	
}

#left_menu{
	
float:left;
margin-left:10px;
width:130px;
height:500px;	
border-radius:15px;
background:linear-gradient(to left,#066,#093);
box-shadow: 5px 5px 5px #888888;
margin-top:10px;
opacity:0.6;
	
	
}
.clear{
clear:both;	}
#my_mainContent{
color:white;
float:left;
width:900px;
height:auto;
background:linear-gradient(to left , #066,#093);
margin-top:10px;
margin-left:45px;
opacity:0.9;
border-radius:15px;
box-shadow: 5px 5px 5px #888888;
	
	
	
	
}
#my_mainContent table{
	
color:white;	
	
	
}
#comanda a {
	
text-decoration:none;
color:black;

	
	
}
#comanda a:hover {
	
color:white;
	
	
	
}

#ImagineaMea{
	
	padding-top:15px;
	padding-left:80px;
	
}

